@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --light: #f6f6f9;
  --primary: #009fb7;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #363949;
  --danger: #d32f2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bx {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb;
  --dark-grey: #212426;
  --primary: #009fb7;
}

body {
  width: 100%;
  background: var(--grey);
  overflow-x: hidden;
}

.content {
  position: absolute;
  width: calc(100% - 230px);
  left: 230px;
  top: 0;
  transition: all 0.3s ease;
}

.content main {
  margin-top: 54px;
  width: 100%;
  padding: 36px 24px;
  max-height: calc(100vh - 56px);
}

.content main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

.content main .header .left h1 {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--primary);
}

.content main .header .left h4 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--dark);
}

.content main .header .left p {
  color: var(--dark);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.feature {
  color: var(--dark);
  margin-top: 5px;
}

.feature span {
  color: var(--dark);
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.feature p {
  color: var(--dark);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .content {
    width: calc(100% - 60px);
    left: 200px;
  }
}

@media screen and (max-width: 576px) {
  .content main .header {
    min-width: 340px;
  }

  .content main .commands {
    min-width: 340px;
  }
}
