.edit {
  color: var(--dark);
}

.action {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.action input {
  flex-grow: 1;
  padding: 0 25px;
  height: 100%;
  border: none;
  background: var(--light);
  outline: none;
  width: 100%;
  color: var(--dark);
}

.edit-category-btn {
  background: var(--primary);
  margin-top: 20px;
  padding: 10px;
  border-radius: 13px;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-size: 15px;
}

.content main .bottom-data .commands {
  flex-grow: 1;
  flex-basis: 500px;
  padding-top: 15px;
}

.content main .bottom-data .commands table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.content main .bottom-data .commands table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
}

.content main .bottom-data .commands table th:first-child {
  padding-left: 20px;
}

.content main .bottom-data .commands table td {
  padding: 16px 10px;
}

.content main .bottom-data .commands table tr td:first-child {
  align-items: center;
  padding-left: 16px;
  border-left: 4px solid var(--primary);
  border-right: 2px solid var(--grey);
}

.content main .bottom-data .commands table tr td:nth-child(2) {
  border-right: 2px solid var(--grey);
}

.content main .bottom-data .commands table tr td:nth-child(3) {
  width: 40px;
  padding: 15px;
  border-right: 2px solid var(--grey);
}

.content main .bottom-data .commands .action table tr td:nth-child(3) {
  background: #32965d;
  color: white !important;
}

.content main .bottom-data .commands table tr td:nth-child(4) {
  width: 40px;
  padding: 15px;
  border-right: 2px solid var(--grey);
  background: #ea3546;
  color: white !important;
}

.content main .bottom-data .commands table tbody tr {
  background: var(--light);
  transition: all 0.3s ease;
  border-bottom: 3px solid var(--grey);
}

.content main .bottom-data .commands table tbody tr:last-child {
  border-bottom: none;
}

@media screen and (max-width: 576px) {
  .content main .bottom-data .commands .action table td {
    display: block;
    width: 100%;
    border-bottom: 2px solid var(--grey);
  }

  .content main .bottom-data .commands .action table tr td:nth-child(2) {
    align-items: center;
    padding-left: 16px;
    border-left: 4px solid var(--primary);
    border-right: 2px solid var(--grey);
  }

  .content main .bottom-data .commands .action table tr td:nth-child(3) {
    background: #32965d;
    color: white !important;
    width: 100%;
    align-items: center !important;
    text-align: center;
  }

  .content main .bottom-data .commands .action table tr th {
    display: none;
  }

  .content main .bottom-data .commands table tr td:nth-child(4) {
    width: 100%;
    background: #ea3546;
    color: white !important;
    align-items: center !important;
    text-align: center;
  }
}
